@font-face {
    font-family: 'MinhaFontePersonalizada';
    src: url('snes.ttf');
}

p,h2,h3,h4,label,option,input,button,select {
    font-family: 'MinhaFontePersonalizada';
    cursor: cell;
    font-size: 4vh;
}

h1 {
    font-size: 5em;
    font-family: 'MinhaFontePersonalizada';
}